h2 {
    background: white !important;
    color: white !important;
}

h1 {
    background: white !important;
    color: white !important;
}

* {
    color: #376856 !important;
}

footer {
    font-size: 11pt !important;
}

#logo img {
    width: auto;
    height: 96px !important;
}